Artemis build output
====================
Commit:    {{ .GitCommit }}
Branch:    {{ .GitBranch }}
Dirty:     {{ .GitDirty }}
Timestamp: {{ .Timestamp }}
Initiator: {{ .Initiator }}
Version:   {{ .Version }}
